<% if @reporte_id == '1' %>

  <script>
    $(document).ready(function(){
      $('.datatable').DataTable( {
            responsive: true,
            "language": {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ familias",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando familias del _START_ al _END_ de un total de _TOTAL_ familias",
                "sInfoEmpty":      "Mostrando familias del 0 al 0 de un total de 0 familias",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ familias)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                  "sFirst":    "Primero",
                  "sLast":     "Ultimo",
                  "sNext":     "Siguiente",
                  "sPrevious": "Anterior"
                },
                "oAria": {
                  "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                  "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "decimal": ",",
                "thousands": "."
            },
            aLengthMenu: [
              [25, 50, 100, -1],
              [25, 50, 100, "Todas"]
            ],
            iDisplayLength: -1
        });
    });
  </script>

  <div class="col-xs-12 marco">
    <h1 class="pull-left'">
      Listado de Deudores
    </h1>

      <br />
      <table class="datatable table table-striped table-hover table-condensed table-bordered display nowrap" width="100%">
      <thead>
        <tr>
          <th>Familia</th>
          <th>Deuda</th>
          <th>Celular</th>
          <th>Tel Casa</th>
          <th>Tel Alternativo</th>
          <th>Dirección</th>
        </tr>
      </thead>
      <tbody>
        <% @families.each do |family| %>
          <% if (family.get_saldo > 0) %>
          <tr>
            <td><%= family.apellido %></td>
            <td><%= number_to_currency(family.get_saldo) %></td>
            <td><%= family.tel_cel %></td>
            <td><%= family.tel_casa %></td>
            <td><%= family.tel_alt %></td>
            <td><%= family.direccion %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= paginate @families %>
    </div>
  </div>

<% elsif @reporte_id == '2' %>

  <div class="col-xs-12 marco">
    <h1 class="pull-left'">
      Listado de Ingresos por Escuela
    </h1>
    <br />
    
    <table class="datatable table table-striped table-hover table-condensed table-bordered display nowrap incomes">
      <tr>
        <th></th> <!-- Esta primera columna es para el nombre de la Escuela -->
        <% @months.each do |month| %>
          <th><%= I18n.t("date.month_names")[month] %></th>
        <% end %>
      </tr>
      <% @schools.each do |school| %>
      <tr>
        <td><%= school.name %></td>        
        <% @ingresos[school.name].each do |ing| %>
        <td>
          <% @months.each do |month| %>
            <%= ing[month] %>
          <% end %>
        </td>
        <% end %> 
      </tr>
      <% end %>
    </table>
  </div>

<% elsif @reporte_id == '3' %>

  <script>
    $(document).ready(function(){
      $('.datatable').DataTable( {
            responsive: true,
            "language": {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ almunos",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando almunos del _START_ al _END_ de un total de _TOTAL_ almunos",
                "sInfoEmpty":      "Mostrando almunos del 0 al 0 de un total de 0 almunos",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ almunos)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                  "sFirst":    "Primero",
                  "sLast":     "Ultimo",
                  "sNext":     "Siguiente",
                  "sPrevious": "Anterior"
                },
                "oAria": {
                  "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                  "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "decimal": ",",
                "thousands": "."
            },
            aLengthMenu: [
              [25, 50, 100, -1],
              [25, 50, 100, "Todos"]
            ],
            iDisplayLength: -1
        });
    });
  </script>

  <div class="col-xs-12 marco">
    <h1 class="pull-left'">
      Listado de Alumnos
    </h1>

      <br />
      <table class="datatable table table-striped table-hover table-condensed table-bordered display nowrap" width="100%">
      <thead>
        <tr>
          <th>Apellido</th>
          <th>Nombre</th>
          <th>Grado</th>
          <th>División</th>
          <th>Tipo de Servicio</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.family.apellido %></td>
            <td><%= student.nombre %></td>
            <td><%= student.humanized_grado %></td>
            <td><%= student.division %></td>
            <td><%= student.humanized_tipo_serv %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= paginate @students %>
    </div>
  </div>

<% end %>
