<% if @reporte_id == '1' %>

  <script>
    $(document).ready(function(){
      $('.datatable').DataTable( {
            responsive: true,
            "language": {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ familias",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando familias del _START_ al _END_ de un total de _TOTAL_ familias",
                "sInfoEmpty":      "Mostrando familias del 0 al 0 de un total de 0 familias",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ familias)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                  "sFirst":    "Primero",
                  "sLast":     "Ultimo",
                  "sNext":     "Siguiente",
                  "sPrevious": "Anterior"
                },
                "oAria": {
                  "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                  "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "decimal": ",",
                "thousands": "."
            },
            aLengthMenu: [
              [25, 50, 100, -1],
              [25, 50, 100, "Todas"]
            ],
            iDisplayLength: -1,
            "order": [[ 6, "asc" ], [ 0, "asc" ]]
        });
    });
  </script>

  <div class="col-xs-12 marco">
    <h1 class="pull-left'">
      Listado de Deudores
    </h1>

      <br />
      <table class="datatable table table-striped table-hover table-condensed table-bordered display nowrap" width="100%">
      <thead>
        <tr>
          <th>Familia</th>
          <th>Deuda</th>
          <th>Celular</th>
          <th>Tel Casa</th>
          <th>Tel Alternativo</th>
          <th>Dirección</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <% @families.each do |family| %>
          <% if (family.get_saldo > 0) %>
          <tr>
            <td><%= family.apellido %></td>
            <td><%= number_to_currency(family.get_saldo) %></td>
            <td><%= family.tel_cel %></td>
            <td><%= family.tel_casa %></td>
            <td><%= family.tel_alt %></td>
            <td><%= family.direccion %></td>
            <td><%= family.activo ? 'Activo' : 'Inactivo' %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= paginate @families %>
    </div>
  </div>

<% elsif @reporte_id == '2' %>

  <script>
    $(document).ready(function(){
      $('.datatable').DataTable( {
          responsive: false,
          sDom: '',
          'initComplete': function (settings, json){
            this.api().columns('.sum').every(function(){
              var column = this;
              
              var sum = column
                .data()
                .reduce(function (a, b) {
                  result = parseFloat(remove_thousand_ind(invert_comma_dot(a.substr(1))), 10) + parseFloat(remove_thousand_ind(invert_comma_dot(b.substr(1))), 10);
                  console.log(addCommas(result));
                  return invert_comma_dot(addCommas(result));
                });

              $(column.footer()).html('$ ' + sum);
            });
          }
        });
    });
    
    function invert_comma_dot(num) {
      return num.replace(/[.,]/g, function(x) { return x == ',' ? '.' : ','; });
    }
    
    function remove_thousand_ind(num) {
      return num.replace(",", "");
    }
    
    function addCommas(nStr) {
      nStr += '';
      var x = nStr.split('.');
      var x1 = x[0];
      var x2 = x.length > 1 ? '.' + x[1] : '.00';
      var rgx = /(\d+)(\d{3})/;
      while (rgx.test(x1)) {
          x1 = x1.replace(rgx, '$1' + ',' + '$2');
      }
      return x1 + x2;
    }
  </script>

  <div class="col-xs-12 marco">
    <h1>Listado de Ingresos por Escuela</h1>
    <br />
    <h3>Año Actual - <%= Date.today.year %></h3>    
    <table class="datatable table table-striped table-hover table-condensed table-bordered display nowrap incomess">
      <thead>
        <tr>
          <th></th> <!-- Esta primera columna es para el nombre de la Escuela -->
          <% @months.each do |month| %>
            <th class="sum"><%= I18n.t("date.month_names")[month] %></th>
          <% end %>
          <th class="sum">Total</th>
        </tr>
      </thead>
      <tbody>
        <% @schools.each do |school| %>
        <tr>
          <td><%= school.name %></td>
          <% @ingresos[school.name][Date.today.year].each do |ing| %>
          <td>
            <% @months.each do |month| %>
              <%= number_to_currency(ing[month]) %>
            <% end %>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
            <th class='nowrap'>Total Mensual</th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
        </tr>
      </tfoot>
    </table>

    <br />
    <h3>Año Anterior - <%= Date.today.year - 1 %></h3>    
    <table class="datatable table table-striped table-hover table-condensed table-bordered display nowrap incomess">
      <thead>
        <tr>
          <th></th> <!-- Esta primera columna es para el nombre de la Escuela -->
          <% @months.each do |month| %>
            <th class="sum"><%= I18n.t("date.month_names")[month] %></th>
          <% end %>
          <th class="sum">Total</th>
        </tr>
      </thead>
      <tbody>
        <% @schools.each do |school| %>
        <tr>
          <td class='nowrap'><%= school.name %></td>
          <% @ingresos[school.name][Date.today.year-1].each do |ing| %>
          <td class='nowrap'>
            <% @months.each do |month| %>
              <%= number_to_currency(ing[month]) %>
            <% end %>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
            <th class='nowrap'>Total Mensual</th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
            <th class='nowrap'></th>
        </tr>
      </tfoot>
    </table>

  </div>

<% elsif @reporte_id == '3' %>

  <script>
    $(document).ready(function(){
      $('.datatable').DataTable( {
            responsive: true,
            "language": {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ alumnos",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando alumnos del _START_ al _END_ de un total de _TOTAL_ alumnos",
                "sInfoEmpty":      "Mostrando alumnos del 0 al 0 de un total de 0 alumnos",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ alumnos)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                  "sFirst":    "Primero",
                  "sLast":     "Ultimo",
                  "sNext":     "Siguiente",
                  "sPrevious": "Anterior"
                },
                "oAria": {
                  "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                  "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "decimal": ",",
                "thousands": "."
            },
            aLengthMenu: [
              [25, 50, 100, -1],
              [25, 50, 100, "Todos"]
            ],
            iDisplayLength: -1
        });
    });
  </script>

  <div class="col-xs-12 marco">
    <h1 class="pull-left'">
      Listado de Alumnos
    </h1>

      <br />
      <table class="datatable table table-striped table-hover table-condensed table-bordered display nowrap" width="100%">
      <thead>
        <tr>
          <th>Apellido</th>
          <th>Nombre</th>
          <th>Grado</th>
          <th>División</th>
          <th>Tipo de Servicio</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.family.apellido %></td>
            <td><%= student.nombre %></td>
            <td><%= student.humanized_grado %></td>
            <td><%= student.division %></td>
            <td><%= student.humanized_tipo_serv %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= paginate @students %>
    </div>
  </div>

<% end %>
