<div class="col-xs-12 col-sm-8 col-sm-offset-2">
  <h1>Familia <%= current_family.apellido %></h1>
  <h3 class='no_top_margin'>Nuevo Movimiento</h3>
  <br />
  
 <div class="seccion">
    <%= simple_form_for [current_school, current_family, @movement] do |f| %>
      <div class='row'>
        <div class="col-xs-12 col-sm-6">
          <%= f.input :tipo, as: :select, collection: Movement::TIPO_TIPOS_DDLB %>
          <br />
          <%= f.input :monto, input_html: { class: 'input-sm' } %>
          <br />
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= f.input :descuento, as: :select, :include_blank => false, collection: Movement::TIPO_DESCUENTOS %>
          <br />
          <%= f.input :forma, as: :select, collection: Movement::TIPO_FORMAS, label: 'Forma de Pago' %>
          <br />
        </div>
      </div>
      <div class='row'>
        <div class="col-xs-12">
          <%= f.input :nota, input_html: { class: 'input-sm' } %>
        </div>
      </div>

      <div class='row'>
      <br />
        <div class='pull-right seccion_botonera'>
          <%= link_to school_family_path(current_school, current_family), class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-remove"></span> 
            Cancelar
          <% end %>

          <%= button_tag(type: 'submit', class: 'btn btn-primary separate_btn') do %>
            <span class="glyphicon glyphicon-ok"></span>
            Crear
          <% end %>
        </div>
      </div>
    <% end %>
  </div> 
</div>


<script>
  $(function() {
    if($('#movement_monto').val() == 0){
      $('#movement_monto').val('');
    }

    tipo = $('#movement_tipo');
    descuento = $('#movement_descuento');
    forma = $('#movement_forma');

    tipo.change(function() {
      if(tipo.val() == <%= Movement::TIPO_TIPOS['Servicio'] %> || tipo.val() == <%= Movement::TIPO_TIPOS['Nota de Crédito'] %>){
        descuento.prop('disabled', 'disabled')
                 .val('');
        forma.prop('disabled', 'disabled')
             .val('');
      }
      else{
        descuento.prop('disabled', false);
        forma.prop('disabled', false);
      }
    });
  });
</script>