<div class="col-xs-6 col-xs-offset-3">
  <h1>Creación de Movimiento</h1>
  <br />

 <div class="seccion">
    <%= simple_form_for [current_school, current_family, @movement] do |f| %>
      <div class="col-md-6 col-xs-12">
        <div class="col-md-10">
          <%= f.input :tipo, as: :select, collection: Movement::TIPO_TIPOS %>
          <br />
        </div>
        <div class="clearfix"></div>
        
        <div class="col-md-10">
          <%= f.input :monto, input_html: { class: 'input-sm' } %>
          <br />
        </div>
        <div class="clearfix"></div>
        
        <div class="col-md-10">
          <%= f.input :descuento, input_html: { class: 'input-sm' } %>
          <br />
        </div>
        <div class="clearfix"></div>

        <div class="col-md-10">
          <%= f.input :saldo, input_html: { class: 'input-sm' } %>
          <br />
        </div>
        <div class="clearfix"></div>

        <div class="col-md-10">
          <%= f.input :forma, as: :select, collection: Movement::TIPO_FORMAS, label: 'Forma de Pago' %>
          <br />
        </div>
        <div class="clearfix"></div>

        <div class="col-md-10">
          <%= f.input :nota, input_html: { class: 'input-sm' } %>
          <br />
        </div>
        <div class="clearfix"></div>
        <br />        
      </div>

      <br /><br />
      
      <div class="clearfix"></div>

      <div>  
        <br /><br />
        <div class="pull-right">
          <%= link_to school_family_path(current_school, current_family), class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-remove"></span> 
            Cancelar
          <% end %>
        
          <%= button_tag(type: 'submit', class: 'btn btn-primary separate_btn') do %>
            <span class="glyphicon glyphicon-ok"></span>
            Crear Movimiento
          <% end %>
        </div>
      </div>
      <div class="clearfix"></div>
    <% end %>
  </div> 
</div>