<script>
	$(document).ready(function() {
		
		var school_id = $('#school_id').val();
		
		/* initialize the external events
		-----------------------------------------------------------------*/
		$('#external-events .fc-event').each(function() {
			// make the event draggable using jQuery UI
			$(this).draggable({
				zIndex: 999,
				revert: true,      // will cause the event to go back to its
				revertDuration: 0  //  original position after the drag
			});
		});

		/* initialize the calendar
		-----------------------------------------------------------------*/
		$('#calendar').fullCalendar({
			header: {
				left: '',
				center: 'title',
				right: 'prev,next today'
			},
	    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		  monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
		  dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		  buttonText: {
	      today: 'Hoy',
	      month: 'month',
	      week: 'week',
	      day: 'day'
	    },
		  dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
			aspectRatio: 1.35,
			editable: true,
			droppable: true, // this allows things to be dropped onto the calendar
			drop: function(date) {
				fecha = date.format('YYYY-MM-DD');
  			food_id = $(this).attr('id');
				titulo = $.trim($(this).text());
				
				$.ajax({
						url: "/schools/" + school_id + "/menus",
						type: "POST",
						data: { menu: {
							fecha: fecha,
							food_id: food_id
						}},
						dataType: "JSON",
						success: function(resp){
							if(resp.menuId) {
								console.log('EVENT SAVED: Event has been updated');
									var newEvent = {
										id: resp.menuId,
										title: titulo,
										start: fecha,
										allDay: true
									};
									$('#calendar').fullCalendar( 'renderEvent', newEvent , 'stick');								
							}
							else {
								console.log('EVENT NOT SAVED: Uniqueness validation failed');
							}
						}
				});
			},
			eventDrop: function(event, delta, revertFunc) {
				/*ACA VA EL CODIGO PARA CUANDO QUIERO MOVER MENUES*/
				$.ajax({
						url: "/schools/" + school_id + "/menus/" + event.id,
						type: "PUT",
						data: { fecha: event.start.format() },
						dataType: "JSON",
						success: function(resp){
							if(resp.status != 0) {
								console.log('EVENT NOT MOVED: Uniqueness validation failed');
								revertFunc();
							}
							else {
								console.log('EVENT UPDATED TO NEW DATE');
							}
						}
				});
    	},
			eventDragStop: function (event, jsEvent, ui, view) {
				/*ACA VA EL CODIGO PARA CUANDO QUIERO ELIMINAR MENUES*/
				if (isElemOverDiv()) {
					$.ajax({
						url: "/schools/" + school_id + "/menus/" + event.id,
						type: "DELETE",
						dataType: "JSON",
						success: function(resp) {
							if(resp.status == 0) {
								console.log('EVENT DELETED');
								$('#calendar').fullCalendar('removeEvents', event.id);
							}
							else {
								console.log('EVENT COULD NOT BE DELETED');
							}
						},
						error: function(e) {
							alert('Error processing your request: ' + e.responseText);
						}
					});
				}
			},
			weekends: false,
			fixedWeekCount: false,
			eventSources: [{
	      url: 'menus/get_menus'
	    }],
			eventOrder: ["tipo", "title"]
		});
		
	});

	function isElemOverDiv() {
		 var trashEl = jQuery('#trash');
		 var ofs = trashEl.offset();
		 var x1 = ofs.left;
		 var x2 = ofs.left + trashEl.outerWidth(true);
		 var y1 = ofs.top;
		 var y2 = ofs.top + trashEl.outerHeight(true);
		 if (currentMousePos.x >= x1 && currentMousePos.x <= x2 && currentMousePos.y >= y1 && currentMousePos.y <= y2) {      
			 return true;    
		 }    
		return false; 
	}	

	var currentMousePos = {
			x: -1,
			y: -1
	};

	jQuery(document).on("mousemove", function (event) {
		currentMousePos.x = event.pageX;
		currentMousePos.y = event.pageY;
	});	
</script>

<input type="hidden" id="school_id" value="<%= current_school[:id] %>">

<div class="col-xs-12">
  <h1>Administración de Menúes</h1>

	<div id='wrap'>
		<div id='external-events'>
			<h4>Platos</h4>
 			<% @foods_p.each do |food_p| %>
      	<div class='fc-event' id='<%= food_p.id.to_s %>'><%= food_p.comida %></div>
			<% end %>
			
			<br />
			<h4>Acompañamientos</h4>
			<% @foods_a.each do |food_a| %>
      	<div class='fc-event' id='<%= food_a.id.to_s %>'><%= food_a.comida %></div>
			<% end %>
	
			<br />
			<h4>Festividades</h4>
			<% @feriados.each do |feriado| %>
      	<div class='fc-event feriado' id='<%= feriado.id.to_s %>'><%= feriado.comida %></div>
			<% end %>
			
			<br />
			<p>
				<%= image_tag("trash.png", :id => "trash") %>
  		</p>
		</div>
		
		<div id='calendar' class='calendar_tablet'></div>
		
		<div style='clear:both'></div>
	</div>
</div>