<div class="col-xs-12 col-sm-8 col-sm-offset-2">
  <h1 class="pull-left'">Modificación de Familia</h1>
  <br />

  <div class="seccion">
    <%= simple_form_for [current_school, current_family] do |f| %>
      <div class='row'>
        <div class="col-xs-12 col-sm-6">
          <%= f.input :apellido, input_html: { class: 'input-sm' } %>
          <br />
          <%= f.input :contacto_1, label: 'Contacto Principal', input_html: { class: 'input-sm' } %>
          <br />
          <%= f.input :contacto_2, label: 'Contacto Alternativo', input_html: { class: 'input-sm' } %>
          <br />
          <%= f.input :email, input_html: { class: 'input-sm' } %>
          <br />
        </div>
        
        <div class="col-xs-12 col-sm-6">
          <%= f.input :tel_cel, label: 'Teléfono Celular', input_html: { class: 'input-sm' } %>
          <br />
          <%= f.input :tel_casa, label: 'Teléfono Domicilio', input_html: { class: 'input-sm' } %>
          <br />
          <%= f.input :tel_alt, label: 'Teléfono Alternativo', input_html: { class: 'input-sm' } %>
          <br />
          <%= f.input :direccion, label: 'Dirección', input_html: { class: 'input-sm' } %>
        </div>
      </div>
      
      <% if !current_family.tiene_hijos? %>
      <div class='row'>
        <div class="col-xs-12">
          <h5><b>Estado</b></h5>
          <%= f.input :activo, as: :boolean, label: '', input_html: { class: 'input-sm', data: { :'on-text' => 'Activa', :'off-text' => 'Inactiva', :'on-color' => 'success', :'off-color' => 'default' } } %>
        </div>
      </div>
      <% end %>

      <div class='row'>
        <br />
        <div class='pull-right seccion_botonera'>
          <%= link_to school_family_path(current_school, current_family), class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-remove"></span> Cancelar
          <% end %>

          <%= button_tag(type: 'submit', class: 'btn btn-primary separate_btn') do %>
            <span class="glyphicon glyphicon-ok"></span>
            Modificar
          <% end %>
        </div>
      </div>        
    <% end %>
  </div>
</div>
<br />

<script>
  $('#family_activo').bootstrapSwitch();
</script>