<script>
$(document).ready(function(){
  $('.datatable').DataTable( {
        responsive: true,
        "language": {
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ familias",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando familias del _START_ al _END_ de un total de _TOTAL_ familias",
            "sInfoEmpty":      "Mostrando familias del 0 al 0 de un total de 0 familias",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ familias)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
              "sFirst":    "Primero",
              "sLast":     "Ultimo",
              "sNext":     "Siguiente",
              "sPrevious": "Anterior"
            },
            "oAria": {
              "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
              "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "decimal": ",",
            "thousands": "."
        }
    });
});
</script>

<div class="col-xs-10 col-xs-offset-1">
  <%= link_to new_school_family_path(current_school), class: "btn btn-primary pull-right" do %>
    <span class="glyphicon glyphicon-plus"></span> 
    Nueva Familia
  <% end %>
</div>
<div class="col-xs-10 col-xs-offset-1 marco">
    <br />
    <table class="datatable table table-striped table-hover table-condensed table-bordered display nowrap" width="100%">
    <thead>
      <tr>
        <th>Familia</th>
        <th>Contacto Principal</th>
        <th>Contacto Alternativo</th>
        <th>Celular</th>
        <th>Tel Casa</th>
        <th>Tel Alternativo</th>
        <th>Dirección</th>
        <th>Deuda</th>
      </tr>
    </thead>
    <tbody>
      <% @families.each do |family| %>
        <tr>
          <td><%= link_to family.apellido, school_family_path(current_school, family) %></td>
          <td><%= family.contacto_1 %></td>
          <td><%= family.contacto_2 %></td>
          <td><%= family.tel_cel %></td>
          <td><%= family.tel_casa %></td>
          <td><%= family.tel_alt %></td>
          <td><%= family.direccion %></td>
          <td><%= number_to_currency(family.saldo) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= paginate @families %>
  </div>
</div>