<script>
$(document).ready(function(){
  $('.datatable').DataTable( {
        "language": {
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ familias",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando familias del _START_ al _END_ de un total de _TOTAL_ familias",
            "sInfoEmpty":      "Mostrando familias del 0 al 0 de un total de 0 familias",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ familias)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
              "sFirst":    "Primero",
              "sLast":     "Ultimo",
              "sNext":     "Siguiente",
              "sPrevious": "Anterior"
            },
            "oAria": {
              "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
              "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "decimal": ",",
            "thousands": "."
        }
    });
});
</script>

<div class="col-xs-10 col-xs-offset-1 marco">
    <div class="pull-right">
      <%= link_to 'Bajar a PDF', '#', class: 'btn btn-success'%>  
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myNewModal">
        Nueva Familia
      </button>
    </div>
    <br />
    <table class="datatable stripe hover">
    <thead>
      <tr>
        <th>Familia</th>
        <th>Contacto Principal</th>
        <th>Contacto Alternativo</th>
        <th>Celular</th>
        <th>Tel Casa</th>
        <th>Tel Alternativo</th>
        <th>Dirección</th>
        <th>Deuda</th>
        <th>Escuela</th>
      </tr>
    </thead>
    <tbody>
      <% @families.each do |family| %>
        <tr>
          <td><%= family.apellido %></td>
          <td><%= family.contacto_1 %></td>
          <td><%= family.contacto_2 %></td>
          <td><%= family.tel_cel %></td>
          <td><%= family.tel_casa %></td>
          <td><%= family.tel_alt %></td>
          <td><%= family.direccion %></td>
          <td> Sin implementar </td>
          <td><%= family.school.inspect %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= paginate @families %>
  </div>
</div>


<script>
  function limpiar(){
      $(".input-sm").val('').end();
  }; 
</script>

<!-- New Family Modal -->
<div class="modal fade" id="myNewModal" tabindex="-1" role="dialog" aria-labelledby="myNewModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myNewModalLabel"><b>Creación de Familia</b></h4>
      </div>
      <%= simple_form_for @flia do |f| %>
      <div class="modal-body">
        <div class="col-xs-6">
          <%= f.input :apellido, input_html: { class: 'input-sm' } %>
          <br />
          <%= f.input :contacto_1, label: 'Contacto Principal', input_html: { class: 'input-sm' } %>
          <br />
          <%= f.input :contacto_2, label: 'Contacto Alternativo', input_html: { class: 'input-sm' } %>
          <br />
          <%= f.input :email, input_html: { class: 'input-sm' } %>
        </div>
        <div class="col-xs-6">
          <%= f.input :tel_cel, label: 'Teléfono Celular', input_html: { class: 'input-sm' } %>
          <br />
          <%= f.input :tel_casa, label: 'Teléfono Domicilio', input_html: { class: 'input-sm' } %>
          <br />
          <%= f.input :tel_alt, label: 'Teléfono Alternativo', input_html: { class: 'input-sm' } %>
          <br />
          <%= f.input :direccion, label: 'Dirección', input_html: { class: 'input-sm' } %>
        </div>
        <br /><br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="limpiar();">Cancelar</button>
        <%= f.submit 'Crear Familia', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>