<div class="col-xs-6 col-xs-offset-3">
  <h1>Creación de Familia</h1>
  <br />

  <div class="seccion">
    <%= simple_form_for [current_school, @family] do |f| %>
      <div class="col-md-6 col-xs-12">
        <div class="col-md-10">
          <%= f.input :apellido, input_html: { class: 'input-sm' } %>
          <br />
        </div>
        <div class="clearfix"></div>
        
        <div class="col-md-10">
          <%= f.input :contacto_1, label: 'Contacto Principal', input_html: { class: 'input-sm' } %>
          <br />
        </div>
        <div class="clearfix"></div>
        
        <div class="col-md-10">
          <%= f.input :contacto_2, label: 'Contacto Alternativo', input_html: { class: 'input-sm' } %>
          <br />
        </div>
        <div class="clearfix"></div>

        <div class="col-md-10">
          <%= f.input :email, input_html: { class: 'input-sm' } %>
          <br />
        </div>
        <div class="clearfix"></div>
        <br />
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="col-md-10">
          <%= f.input :tel_cel, label: 'Teléfono Celular', input_html: { class: 'input-sm' } %>
          <br />
        </div>
        <div class="clearfix"></div>

        <div class="col-md-10">
          <%= f.input :tel_casa, label: 'Teléfono Domicilio', input_html: { class: 'input-sm' } %>
          <br />
        </div>
        <div class="clearfix"></div>

        <div class="col-md-10">
          <%= f.input :tel_alt, label: 'Teléfono Alternativo', input_html: { class: 'input-sm' } %>
          <br />
        </div>
        <div class="clearfix"></div>

        <div class="col-md-10">
          <%= f.input :direccion, label: 'Dirección', input_html: { class: 'input-sm' } %>
        </div>
        <div class="clearfix"></div>      
      </div>
      <br /><br />
      
      <div class="clearfix"></div>

      <div>  
        <br /><br />
        <%= button_tag(type: 'submit', class: "btn btn-primary pull-right") do %>
          <span class="glyphicon glyphicon-ok"></span>
          Crear
        <% end %>
      </div>
      <div class="clearfix"></div>
    <% end %>
  </div>
</div>