<div class='col-xs-10 col-xs-offset-1'>

  <h1 class="pull-left'">
    Familia <%= current_family.apellido %>
    <%= link_to edit_school_family_path(current_school, current_family), class: 'btn btn-primary pull-right' do %>
      <span class="glyphicon glyphicon-pencil"></span> 
      Modificar
    <% end %>
  </h1>

  <div class="clearfix"></div>

  <div class='seccion'>
    <div class='col-md-4 col-xs-12'>
      <u><b>Contacto Principal:</b></u> <%= current_family.contacto_1 %>
      <br />
      <u><b>Contacto Alternativo:</b></u> <%= current_family.contacto_2 %>
    </div>
    <div class='col-md-4 col-xs-12'>
      <u><b>Tel. Celular:</b></u> <%= current_family.tel_cel %>
      <br />
      <u><b>Tels. Fijos:</b></u> <%= current_family.tel_casa %> / <%= current_family.tel_alt %>
    </div>
    <div class='col-md-4 col-xs-12'>
      <u><b>Email:</b></u> <%= current_family.email %>
      <br />
      <u><b>Dirección:</b></u> <%= current_family.direccion %>
      <br />
    </div>
    <div class='clearfix'></div>
  </div>
  <br />

  <h1 class="pull-left'">
    Hijos
    <%= link_to new_school_family_child_path(current_school, current_family), class: 'btn btn-primary pull-right' do %>
      <span class="glyphicon glyphicon-plus"></span> 
      Hijo
    <% end %>
  </h1>

  <div class='seccion'>
    <br />
    <br />
    <br />
    <br />
    <div class='clearfix'></div>
  </div>
  <br />

  <h1 class="pull-left'">
    Cuenta Corriente
    <%= link_to edit_school_family_path(current_school, current_family), class: 'btn btn-primary pull-right' do %>
      <span class="glyphicon glyphicon-plus"></span> 
      Registro
    <% end %>
  </h1>

  <div class='seccion'>
    <br />
    <br />
    <br />
    <br />
    <div class='clearfix'></div>
  </div>
  <br />

  <h1 class="pull-left'">
    Comentarios
    <%= link_to edit_school_family_path(current_school, current_family), class: 'btn btn-primary pull-right' do %>
      <span class="glyphicon glyphicon-pencil"></span> 
      Comentario
    <% end %>
  </h1>

  <div class='seccion'>
    <br />
    <br />
    <br />
    <br />
    <div class='clearfix'></div>
  </div>
  <br />
</div>