<div class='col-xs-10 col-xs-offset-1'>
  <h1 class>Familia <%= @family.apellido %></h1>

  <div class='seccion'>
    <div class='col-xs-4'>
      <u><b>Contacto Principal:</b></u> <%= @family.contacto_1 %>
      <br />
      <u><b>Contacto Alternativo:</b></u> <%= @family.contacto_2 %>
    </div>
    <div class='col-xs-4'>
      <u><b>Teléfono Celular:</b></u> <%= @family.tel_cel %>
      <br />
      <u><b>Teléfonos Fijos:</b></u> <%= @family.tel_casa %> / <%= @family.tel_alt %>
    </div>
    <div class='col-xs-4'>  
      <u><b>Email:</b></u> <%= @family.email %>
      <br />
      <u><b>Dirección:</b></u> <%= @family.direccion %>
      <br />
    </div>
    <div class='clearfix'></div>
  </div>
  <br />

<h1 class>Hijos</h1>

  <div class='seccion'>
    <div class='col-xs-4'>
      <u><b>Contacto Principal:</b></u> <%= @family.contacto_1 %>
      <br />
      <u><b>Contacto Alternativo:</b></u> <%= @family.contacto_2 %>
    </div>
    <div class='col-xs-4'>
      <u><b>Teléfono Celular:</b></u> <%= @family.tel_cel %>
      <br />
      <u><b>Teléfonos Fijos:</b></u> <%= @family.tel_casa %> / <%= @family.tel_alt %>
    </div>
    <div class='col-xs-4'>  
      <u><b>Email:</b></u> <%= @family.email %>
      <br />
      <u><b>Dirección:</b></u> <%= @family.direccion %>
      <br />
    </div>
    <div class='clearfix'></div>
  </div>
  <br />

<h1 class>Cuenta Corriente</h1>

  <div class='seccion'>
    <div class='col-xs-4'>
      <u><b>Contacto Principal:</b></u> <%= @family.contacto_1 %>
      <br />
      <u><b>Contacto Alternativo:</b></u> <%= @family.contacto_2 %>
    </div>
    <div class='col-xs-4'>
      <u><b>Teléfono Celular:</b></u> <%= @family.tel_cel %>
      <br />
      <u><b>Teléfonos Fijos:</b></u> <%= @family.tel_casa %> / <%= @family.tel_alt %>
    </div>
    <div class='col-xs-4'>  
      <u><b>Email:</b></u> <%= @family.email %>
      <br />
      <u><b>Dirección:</b></u> <%= @family.direccion %>
      <br />
    </div>
    <div class='clearfix'></div>
  </div>
  <br />

  <h1 class>Comentarios</h1>

  <div class='seccion'>
    <div class='col-xs-12'>
      <%= @family.contacto_1 %>
    </div>
    <div class='clearfix'></div>
  </div>
  <br />
</div>