<script>
$(document).ready(function(){
  $('.datatable').DataTable( {
        responsive: true,
        "language": {
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ movimientos",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando del _START_ al _END_ de un total de _TOTAL_ movimientos",
            "sInfoEmpty":      "Mostrando movimientos del 0 al 0 de un total de 0 movimientos",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ movimientos)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
              "sFirst":    "Primero",
              "sLast":     "Ultimo",
              "sNext":     "Siguiente",
              "sPrevious": "Anterior"
            },
            "oAria": {
              "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
              "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "decimal": ",",
            "thousands": "."
        },
        "bSort": false
    });
});
</script>

<div class='col-xs-10 col-xs-offset-1'>

  <h1 class="pull-left'">
    Familia <%= current_family.apellido %>
    <%= link_to edit_school_family_path(current_school, current_family), class: 'btn btn-primary pull-right' do %>
      <span class="glyphicon glyphicon-pencil"></span> 
      Modificar
    <% end %>
  </h1>

  <div class="clearfix"></div>

  <div class='seccion'>
    <div class='col-md-4 col-xs-12'>
      <u><b>Contacto Principal:</b></u> <%= current_family.contacto_1 %>
      <br />
      <u><b>Contacto Alternativo:</b></u> <%= current_family.contacto_2 %>
      <br />
    </div>
    <div class='col-md-4 col-xs-12'>
      <u><b>Tel. Celular:</b></u> <%= current_family.tel_cel %>
      <br />
      <u><b>Tels. Fijos:</b></u> <%= current_family.tel_casa %> / <%= current_family.tel_alt %>
    </div>
    <div class='col-md-4 col-xs-12'>
      <u><b>Email:</b></u> <%= current_family.email %>
      <br />
      <u><b>Dirección:</b></u> <%= current_family.direccion %>
      <br />
    </div>
    <div class='col-xs-12'>
      <b><u>Estado:</u> <%= current_family.activo == true ? 'Activo' : 'Inactivo' %></b>
    </div>
    <div class='clearfix'></div>
  </div>
  <br />

  <h1 class="pull-left'">
    Hijos
    <%= link_to new_school_family_child_path(current_school, current_family), class: 'btn btn-primary pull-right' do %>
      <span class="glyphicon glyphicon-plus"></span> 
      Hijo
    <% end %>
  </h1>

  <div class='seccion table-responsive'>
    <table class='table table-condensed table_margin_off'>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Grado</th>
          <th>División</th>
          <th>Servicio</th>
          <th>Comentario</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @children.each do |child| %>
          <tr>
            <td><%= child.nombre %></td>
            <td><%= child.humanized_grado %></td>
            <td><%= child.division %></td>
            <td><%= child.humanized_tipo_serv %></td>
            <td><%= child.comentario %></td>
            <td>
              <%= link_to edit_school_family_child_path(current_school, current_family, child) do %>
                <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
              &nbsp;&nbsp;&nbsp;
              <%= link_to school_family_child_path(current_school, current_family, child), method: :delete, data: {confirm:'¿Está seguro que desea eliminar a este Hijo?'} do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>                
            </td>
          </tr>
        <% end %>

        <% if @children.empty? %>
          <tr>
            <td colspan='6'>No hay hijos</td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class='clearfix'></div>
  </div>
  <br />

  <h1 class="pull-left'">
    Cuenta Corriente
    <%= link_to new_school_family_movement_path(current_school, current_family), class: 'btn btn-primary pull-right' do %>
      <span class="glyphicon glyphicon-plus"></span> 
      Movimiento
    <% end %>
  </h1>

  <div class='seccion'>
    <div class= "col-xs-12 col-md-8 col-md-offset-2 seccion no_padding deuda <%= @total <= 0 ? 'saldo_ok' : 'saldo_deudor' %>">
      <h2 class='text-center'>
        Saldo: <%= number_to_currency(@total) %>
      </h2>
    </div>
    <div class='clearfix'></div>
    <br />

    <table class="datatable table table-striped table-hover table-condensed table-bordered display nowrap" width="100%">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Tipo</th>
        <th>Monto</th>
        <th>Saldo</th>
        <th>Forma</th>
        <th>Descuento</th>
        <th>Nota</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @movements.each do |mov| %>
        <tr>
          <td><%= l mov.created_at.in_time_zone('Buenos Aires'), format: :fecha_short %></td>
          <td><%= mov.humanized_tipo %></td>
          <td class= '<%= mov.monto < 0 ? 'negativo' : '' %>'><%= number_to_currency(mov.monto) %></td>
          <td><%= number_to_currency(mov.saldo) %></td>
          <td><%= mov.forma.nil? ?  '-' : mov.humanized_forma %></td>
          <td><%= (mov.descuento * 100).to_i %> %</td>
          <td><%= mov.nota.nil? ?  '-' : mov.nota %></td>
          <td>
            <%= link_to school_family_movement_path(current_school, current_family, mov), method: :delete, data: {confirm:'¿Está seguro que desea eliminar este Movimiento?'} do %>
                <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% if @movements.empty? %>
        <tr>
          <td>Sin registros por mostrar</td>  
          <td></td>  
          <td></td>  
          <td></td>  
          <td></td>  
          <td></td>  
          <td></td>  
          <td></td>  
        </tr>
      <% end %>       
    </tbody>
  </table>
  <div class="text-center">
    <%= paginate @movements %>
  </div>

    <div class='clearfix'></div>
  </div>
  <br />

  <h1 class="pull-left'">
    Comentarios
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myCommentModal">
      <span class="glyphicon glyphicon-plus"></span> 
      Comentario
    </button>
  </h1>

  <div class='seccion table-responsive'>
    <% @comments.each do |comment| %>
      <b>[<%= comment.user.firstname %> - <%= l comment.created_at.in_time_zone('Buenos Aires'), format: :custom %>]</b> <%= comment.message %> <br /><br />
    <% end %>
    <% if @comments.empty? %>
      No hay comentarios
    <% end %>
    <div class='clearfix'></div>
  </div>
  <br />
</div>


<!-- Comments Modal -->
<div class="modal fade" id="myCommentModal" tabindex="-1" role="dialog" aria-labelledby="myCommentModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myCommentModalLabel">Familia <%= current_family.apellido %></h4>
      </div>
      <%= simple_form_for @comment, url: school_family_comments_path(current_school, current_family) do |f| %>
      <div class="modal-body">
          <%= f.input :message, label: 'Comentario' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <%= f.submit 'Agregar', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>