<meta charset="utf-8" />
<%= wicked_pdf_stylesheet_link_tag 'application' %>

<% @families.each do |family| %>
<div class='hoja'>
    <div class='col-xs-12 row'>
      <div class='col-xs-4 pull-left'>
        <h2>ESCUELA <%= current_school.name.upcase %></h2>
      </div>

      <div class='col-xs-4'>
        <h4><%= "#{family.hijo_menor.nombre} (#{family.hijo_menor.humanized_grado} #{family.hijo_menor.division})" %></h4>
      </div>

      <div class='col-xs-4 pull-right'>
        <%= wicked_pdf_image_tag 'logo.png', :width => "180",  :height=>"80"  %>
      </div>
    </div>
    <div class='clearfix'></div>
    
  
  <br />
  <br />
  
  <div id="cuenta" class="col-xs-12">
    <h3><u>Familia <%= family.apellido %> - Estado de cuenta</u></h3>
    <table id="cuenta">
      <tr>
        <td>Estado previo a última factura:</td>
        <td><%= number_to_currency(family.saldo_previo_ult_factura) %></td>
      </tr>
      <tr>
        <td>Ultima factura (<%= l family.ultima_factura.created_at.in_time_zone('Buenos Aires'), format: :fecha_texto %>):</td>
        <td><%= number_to_currency(family.ultima_factura.monto) %></td>
      </tr>
      <tr>
        <td><b>Estado al <%= l @date.in_time_zone('Buenos Aires'), format: :fecha_texto %>:</b></td>
        <td><b><%= number_to_currency(family.get_saldo) %></b></td>
      </tr>      
    </table>
  </div>
  <div class='clearfix'></div>
  
  <br />
  <br />
  
  
    <div id="notifications" class="col-xs-12">
      <h2 id="month">
        Menú de <%= l @date.in_time_zone('Buenos Aires'), format: :mes_anio %>
      </h2>      
      <%= calendar @date do |date| %>
        <%= date.day %>
        <% if @menus_by_date[date] %>
          <ul>
            <li> Ensalada </li>
            <% @menus_by_date[date].each do |menu| %>
              <li><%= menu.food.comida %></li>
            <% end %>
          </ul>
        <% end %>        
      <% end %>
    </div>
    <div class='clearfix'></div>
</div>
<% end %>