<meta charset="utf-8" />
<%= wicked_pdf_stylesheet_link_tag 'application' %>

<% @families.each do |family| %>
  <% if !family.hijo_menor.nil? %>
    <div class='hoja'>
      <table class = 'header'>
        <tr>
          <td>
            <h1 style="font-family: 'insigniaaroman';">ESCUELA <br /> <%= current_school.name.upcase %></h1>
          </td>
          <td class= 'nombre_entrega'>
            <h5><%= "#{family.hijo_menor.nombre} #{family.apellido} (#{family.hijo_menor.humanized_grado} #{family.hijo_menor.division})" %></h5>
          </td>
          <td>  
            <%= wicked_pdf_image_tag 'logo.png', :width => "218",  :height=>"97", class: 'pull-right'  %>
          </td>
        </tr>
      </table>
      <hr />
      <hr />

      <br />
      <div class="col-xs-12">
        <%
          ult_fac_mes = family.ultima_factura_mensual 
          if ult_fac_mes
            fmensual = ult_fac_mes.monto
          else
            fmensual = nil
          end
          
          ult_fac_dia = family.ultima_factura_diaria
          if ult_fac_dia
            fdiaria = ult_fac_dia.monto
          else
            fdiaria = nil
          end

          saldo = family.get_saldo
          if fmensual.present?
            saldo -=  fmensual
          end
          if fdiaria.present?
            saldo -=  fdiaria
          end          
        %>
        <table id="cuenta" border='1'>
          <tr>
            <td rowspan='4' class='notif_texto'> 
              <p>
                <b>Estimados Padres:</b><br />
                El costo mensual del servicio de comedor para los chicos de <%= @rangos_mensuales %>.-<br />
                Les recordamos que para aquellos padres que abonen antes del día 10, tendrán un descuento del 10%.<br />
                El costo diario del servicio es de <%= number_to_currency(@precio_diario, :precision => 0) %>.-
              </p>
            </td>
            <td>Saldo Anterior:</td>
            <td><%= number_to_currency(saldo) %></td>
          </tr>

          <tr>
            <td><%= fmensual ? "#{ult_fac_mes.nota}:" : 'Mensual:' %></td>
            <td><%= fmensual ? number_to_currency(fmensual) : '---' %></td>
          </tr>
          <tr>
            <td><%= fdiaria ? "#{ult_fac_dia.nota}:" : 'Diario:' %></td>
            <td><%= fdiaria ? number_to_currency(fdiaria) : '---' %></td>
          </tr>
          <tr>
            <td><b>Saldo:</b></td>
            <td><b><%= number_to_currency(family.get_saldo) %></b></td>
          </tr>      
        </table>
      </div>
      <div class='clearfix'></div>

      <br />
      <br />


      <div id="notifications" class="col-xs-12">
        <h1 id="month" style="font-family: 'ribbonregular';">MENÚ</h1>

        <div class="col-xs-4 col-xs-offset-4 ribbon">
          <h2 id="month_text">
            <%= (l @date.in_time_zone('Buenos Aires') , format: :mes_anio ).upcase %>
          </h2>
        </div>
        <div class='clearfix'></div>

        <br />

        <%= calendar @date do |date| %>
          <%= date.day %>
          <% if @menus_by_date[date] %>
            <ul>
              <% @menus_by_date[date].each do |menu| %>
                <li><%= menu.food.comida %></li>
              <% end %>
            </ul>
          <% end %>        
        <% end %>
      </div>
      <div class='clearfix'></div>

      <div class = 'texto_final'>
        <br />
        <br />
        <p>
          Sumamos a este menú todos los días souflé (zapallitos, calabazas, vegetales, etc.), calabaza, arroz y frutas de estación. <br /> 
          El buffet de ensaladas cuenta diariamente con una amplia variedad, donde los chicos eligen libremente.<br />
          Ante la necesidad de alguna dieta, por favor, enviar el pedido por cuaderno de comunicaciones.<br />
          Los días en que el menú tiene alimentos fritos, también existe la alternativa de solicitar al horno.
        </p>  
      </div>
    </div>
  <% end %>
<% end %>