<%= wicked_pdf_stylesheet_link_tag 'application' %>
  
<div>
    <div class='pull-right'>
      <%= wicked_pdf_image_tag 'logo.png', :width => "180",  :height=>"80"  %>
    </div>
  
    <div class='pull-left'>
      <h2>ESCUELA <%= current_school.name.upcase %></h2>
    </div>

    <div class='clearfix'></div>

    <div>  
      <div id='calendar'></div>
      <div style='clear:both'></div>
    </div>
  
    <br />
    <br />      
    <br />
    <br />
  
    <% @families.each do |family| %>
        Familia: <%= family.apellido %>  Saldo: <%= number_to_currency(family.get_saldo) %>  <br />
    <% end %>

    <br />
    <br />
    <br />
    <%= link_to "Notificaciones (PDF)", school_notifications_path(format: "pdf") %>
</div>


<script>
  $('#calendar').fullCalendar({
    header: {
      left: '',
      center: 'title',
      right: 'prev,next today'
    },
    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
    buttonText: {
      today: 'Hoy',
      month: 'month',
      week: 'week',
      day: 'day'
    },
    dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
    aspectRatio: 1.35,
    weekends: false,
    fixedWeekCount: false,
    /*
    eventSources: [{
      url: 'menus/get_menus'
    }],
    */
    eventOrder: ["tipo", "title"]
  });
  
  /*$('.fc-state-highlight').css('background-color', 'white');*/
</script>