<div class="col-xs-6 col-xs-offset-3">
	<% if @tipo == Bill::TIPOS_FACTURACION['Mensual'].to_s %>
		<h1>Facturar Clientes Mensuales</h1>
	<% elsif @tipo == Bill::TIPOS_FACTURACION['Diaria'].to_s %>
		<h1>Facturar Clientes Diarios</h1>
	<% end %>

 <div class="seccion">
    <%= simple_form_for [current_school, @bill] do |f| %>
      <div class="col-xs-12">
				<div class="col-md-6 col-xs-12">
					<%= f.input :periodo, as: :string, label: 'Período', input_html: { class: 'datepicker input-sm', :onkeydown => 'return false' } %>
					<br />
				</div>

				<div class="col-md-6 col-xs-12">
					<%= f.input :tipo, as: :select, :include_blank => false, collection: Bill::TIPOS_FACTURACION, :selected => [Bill::TIPOS_FACTURACION['Diaria']], :disabled => [Bill::TIPOS_FACTURACION['Mensual']], input_html: { class: 'input-sm' } %>
					<br />
				</div>
				<div class="clearfix"></div>

				<div class="col-md-6 col-xs-12">
					<%= f.input :limite_grp_1, label: 'Límite Grupo 1', as: :select, :include_blank => true, collection: Child::GRADOS, input_html: { class: 'input-sm' } %>
					<br />
				</div>

				<div class="col-md-6 col-xs-12">
					<%= f.input :valor_1, input_html: { class: 'input-sm' } %>
					<br />
				</div>
				<div class="clearfix"></div>

				<div class="col-md-6 col-xs-12">
					<%= f.input :limite_grp_2, label: 'Límite Grupo 2', as: :select, :include_blank => true, collection: Child::GRADOS, input_html: { class: 'input-sm' } %>
					<br />
				</div>

				<div class="col-md-6 col-xs-12">
					<%= f.input :valor_2, input_html: { class: 'input-sm' } %>
					<br />
				</div>
				<div class="clearfix"></div>

				<div class="col-md-6 col-xs-12">
					<%= f.input :limite_grp_3, label: 'Límite Grupo 3', as: :select, :include_blank => true, collection: Child::GRADOS, input_html: { class: 'input-sm' } %>
					<br />
				</div>

				<div class="col-md-6 col-xs-12">
					<%= f.input :valor_3, input_html: { class: 'input-sm' } %>
					<br />
				</div>
				<div class="clearfix"></div>
      </div>

	 		<br />
	 		<br />
	 		
	 		<u>Asignar cantidad de Días en los que utilizó el servicio:</u>
	 		<br />
	 		<br />
	 		<div class="col-xs-12">
				<% @bill.menu_day.order(:id).each do |menu_day| %>
					<%= f.simple_fields_for "menu_day_attributes[]", menu_day do |pf| %>
						<%= pf.input :id, as: :hidden, :input_html => { :value => menu_day.id } %>
						<%= pf.input :child_id, as: :hidden, :input_html => { :value => menu_day.child.id } %>
						<%= pf.input :cantidad, label: "Días de #{menu_day.child.nombre} #{menu_day.child.family.apellido}" %>
						<br />
					<% end %>
				<% end %>
	 		</div>
	 		<div class="clearfix"></div>

      <div>  
        <div class="pull-right">
          <%= link_to school_bills_path(:tipo => @tipo), class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-remove"></span> 
            Cancelar
          <% end %>
        
          <%= button_tag(type: 'submit', class: 'btn btn-primary separate_btn', data: {tipo: @tipo}) do %>
            <span class="glyphicon glyphicon-ok"></span>
            Modificar
          <% end %>
        </div>
      </div>
      <div class="clearfix"></div>
    <% end %>
  </div> 
</div>

<script type="text/javascript">
  $(function() {
    
    periodo  = $("#bill_periodo");
    tipo     = $("#bill_tipo");
    limite_1 = $("#bill_limite_grp_1");
    valor_1  = $("#bill_valor_1");
    limite_2 = $("#bill_limite_grp_2");
    valor_2  = $("#bill_valor_2");
    limite_3 = $("#bill_limite_grp_3");
    valor_3  = $("#bill_valor_3");

    periodo.prop('disabled', 'disabled');
    tipo.prop('disabled', 'disabled');
    limite_1.prop('disabled', 'disabled');
    valor_1.prop('disabled', 'disabled');
    limite_2.prop('disabled', 'disabled');
    valor_2.prop('disabled', 'disabled');
    limite_3.prop('disabled', 'disabled');
    valor_3.prop('disabled', 'disabled');
	});
</script>