<div class='col-xs-10 col-xs-offset-1'>
  <h1 class="pull-left'">
    <% if @tipo == Bill::TIPOS_FACTURACION['Mensual'].to_s %>
      Facturación Mensual
    <% elsif @tipo == Bill::TIPOS_FACTURACION['Diaria'].to_s %>
      Facturación Diaria  
    <% end %>
    
    <%= link_to new_school_bill_path(:tipo => @tipo), class: 'btn btn-primary pull-right' do %>
      <span class="glyphicon glyphicon-plus"></span> 
      Facturar Mes
    <% end %>    
    

  </h1>
  <div class='seccion'>
    <table class="datatable table table-striped table-hover table-condensed table-bordered display nowrap" width="100%">
      <thead>
        <tr>
          <th>Período</th>
          <th>Grupo 1</th>
          <th>Grupo 2</th>
          <th>Grupo 3</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @bills.each do |bill| %>
          <tr>
            <td><%= l bill.periodo, format: :mes_anio %></td>
            <td><%= bill.limite_grp_1.nil? ? '-' : 'Hasta ' + bill.humanized_limite_grp_1 + ':' + number_to_currency(bill.valor_1) %></td>
            <td><%= bill.limite_grp_2.nil? ? '-' : 'Hasta ' + bill.humanized_limite_grp_2 + ':' + number_to_currency(bill.valor_2) %></td>
            <td><%= bill.limite_grp_3.nil? ? '-' : 'Hasta ' + bill.humanized_limite_grp_3 + ':' + number_to_currency(bill.valor_3) %></td>
            <td>
              <% if @tipo == Bill::TIPOS_FACTURACION['Diaria'].to_s %>
                <%= link_to edit_school_bill_path(current_school, bill, :tipo => @tipo) do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                <% end %>
                &nbsp;&nbsp;&nbsp;
              <% end %>
              
              <%= link_to school_bill_path(current_school, bill, :tipo => @tipo), method: :delete, data: {confirm:'IMPORTANTE: Al eliminar esta Factura, se borrarán todos los movimientos generados por esta. ¿Está seguro que desea eliminarla?'} do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% if @bills.empty? %>
          <tr>
            <td>Sin registros por mostrar</td>  
            <td></td>  
            <td></td>  
            <td></td>  
            <td></td>  
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class='clearfix'></div>


<script>
$(document).ready(function(){
  $('.datatable').DataTable( {
        responsive: true,
        "language": {
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ registros",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":   "(filtrado de un total de _MAX_registros)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
              "sFirst":    "Primero",
              "sLast":     "Ultimo",
              "sNext":     "Siguiente",
              "sPrevious": "Anterior"
            },
            "oAria": {
              "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
              "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "decimal": ",",
            "thousands": "."
         },
        "bSort": false
    });
});
</script>
