<div class="col-xs-6 col-xs-offset-3">
	<% if @tipo == Bill::TIPOS_FACTURACION['Mensual'].to_s %>
		<h1>Facturar Clientes Mensuales</h1>
	<% elsif @tipo == Bill::TIPOS_FACTURACION['Diaria'].to_s %>
		<h1>Facturar Clientes Diarios</h1>
	<% end %>

 <div class="seccion">
    <%= simple_form_for @bill do |f| %>
      <div class="col-xs-12">
				<div class="col-md-6 col-xs-12">
					<%= f.input :periodo, as: :string, label: 'Período', input_html: { class: 'datepicker input-sm', :onkeydown => 'return false' } %>
					<br />
				</div>

				<div class="col-md-6 col-xs-12">
					<% if @tipo == Bill::TIPOS_FACTURACION['Mensual'].to_s %>
						<%= f.input :tipo, as: :select, :include_blank => false, collection: Bill::TIPOS_FACTURACION, :selected => [Bill::TIPOS_FACTURACION['Mensual']], :disabled => [Bill::TIPOS_FACTURACION['Diaria']], input_html: { class: 'input-sm' } %>
					<% elsif @tipo == Bill::TIPOS_FACTURACION['Diaria'].to_s %>
						<%= f.input :tipo, as: :select, :include_blank => false, collection: Bill::TIPOS_FACTURACION, :selected => [Bill::TIPOS_FACTURACION['Diaria']], :disabled => [Bill::TIPOS_FACTURACION['Mensual']], input_html: { class: 'input-sm' } %>
					<% end %>
					<br />
				</div>
				<div class="clearfix"></div>

				<div class="col-md-6 col-xs-12">
					<%= f.input :limite_grp_1, label: 'Límite Grupo 1', as: :select, :include_blank => true, collection: Child::GRADOS, input_html: { class: 'input-sm' } %>
					<br />
				</div>

				<div class="col-md-6 col-xs-12">
					<%= f.input :valor_1, input_html: { class: 'input-sm' } %>
					<br />
				</div>
				<div class="clearfix"></div>

				<div class="col-md-6 col-xs-12">
					<%= f.input :limite_grp_2, label: 'Límite Grupo 2', as: :select, :include_blank => true, collection: Child::GRADOS, input_html: { class: 'input-sm' } %>
					<br />
				</div>

				<div class="col-md-6 col-xs-12">
					<%= f.input :valor_2, input_html: { class: 'input-sm' } %>
					<br />
				</div>
				<div class="clearfix"></div>

				<div class="col-md-6 col-xs-12">
					<%= f.input :limite_grp_3, label: 'Límite Grupo 3', as: :select, :include_blank => true, collection: Child::GRADOS, input_html: { class: 'input-sm' } %>
					<br />
				</div>

				<div class="col-md-6 col-xs-12">
					<%= f.input :valor_3, input_html: { class: 'input-sm' } %>
					<br />
				</div>
				<div class="clearfix"></div>
      </div>
			
	 		<% if @tipo == Bill::TIPOS_FACTURACION['Diaria'].to_s %>
	 		<br />
	 		<br />
	 		<u>Asignar cantidad de Días en los que utilizó el servicio:</u>
	 		<div class="col-xs-12">
				<% @children.each do |child| %>
					<%= "#{child.nombre} #{child.family.apellido}" %> <br />
				<% end %>
	 		</div>
	 		<div class="clearfix"></div>
	 		<br />
	 		<% end %>

      <div>  
        <br /><br />
        <div class="pull-right">
          <%= link_to bills_path(:tipo => @tipo), class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-remove"></span> 
            Cancelar
          <% end %>
        
          <%= button_tag(type: 'submit', class: 'btn btn-primary separate_btn', data: {tipo: @tipo}) do %>
            <span class="glyphicon glyphicon-ok"></span>
            Crear
          <% end %>
        </div>
      </div>
      <div class="clearfix"></div>
    <% end %>
  </div> 
</div>

<script type="text/javascript">
  $(function() {
    periodo = $('#bill_periodo');

    periodo.datepicker({
      format: "yyyy-mm-dd",
      startView: 1,
      minViewMode: 1,
      maxViewMode: 2,
      language: "es",
      autoclose: true,
      todayHighlight: true
    });
	});
	
	limite_1 = $("#bill_limite_grp_1");
	limite_2 = $("#bill_limite_grp_2");
	valor_2 = $("#bill_valor_2");
	limite_3 = $("#bill_limite_grp_3");
	valor_3 = $("#bill_valor_3");
	
  if(limite_2.val() == ''){
    limite_2.prop('disabled', 'disabled');
    valor_2.prop('disabled', 'disabled');
  }

  if(limite_3.val() == ''){
  	limite_3.prop('disabled', 'disabled');
  	valor_3.prop('disabled', 'disabled');
  }

	limite_1.change(function() {
		if(limite_1.val() == <%= Child::GRADOS['7mo Grado'] %>){
			limite_2.prop('disabled', 'disabled')
			        .val('');
			valor_2.prop('disabled', 'disabled')
						 .val('');
		}
		else{
			limite_2.prop('disabled', false);
			valor_2.prop('disabled', false);
		}

    if(limite_1.val() != ''){
      $('#bill_limite_grp_2 option').show();
      $('#bill_limite_grp_2 option').filter(function() {
        return parseInt($(this).attr("value")) <= parseInt(limite_1.val());
      }).hide();
    }
	});
	
	limite_2.change(function() {
		if(limite_2.val() == <%= Child::GRADOS['7mo Grado'] %> || limite_2.val() == ''){
			limite_3.prop('disabled', 'disabled')
							.val('');
			valor_3.prop('disabled', 'disabled')
						 .val('');
		}
		else{
      limite_3.val(<%= Child::GRADOS['7mo Grado'].to_s %>);
      limite_3.prop('disabled', false);
			valor_3.prop('disabled', false);
		}
    
		if(limite_2.val() == ''){
			valor_2.val('');
		}
    else {
      $('#bill_limite_grp_3 option').show();
      $('#bill_limite_grp_3 option').filter(function() {
        return parseInt($(this).attr("value")) <= parseInt(limite_2.val());
      }).hide();
    }
  });
	
	limite_3.change(function() {
		if(limite_3.val() == ''){
			valor_3.val('');
		}
	});
</script>