<div class="col-xs-6 col-xs-offset-3">
  <h1>Facturar Clientes Mensuales</h1>

 <div class="seccion">
    <%= simple_form_for @bill do |f| %>
      <div class="col-xs-12">
          <div class="col-md-6 col-xs-12">
            <%= f.input :periodo_mask, as: :string, label: '* Período', input_html: { class: 'datepicker input-sm', :onkeydown => 'return false' } %>
            <%= f.input :periodo, as: :hidden, input_html: { class: 'datepicker input-sm', :onkeydown => 'return false' } %>
            <br />
          </div>

          <div class="col-md-6 col-xs-12">
            <%= f.input :tipo, as: :select, :include_blank => false, collection: Bill::TIPOS_FACTURACION, :disabled => Bill::TIPOS_FACTURACION['Diaria'], input_html: { class: 'input-sm' } %>
            <br />
          </div>

          <div class="col-md-6 col-xs-12">
            <%= f.input :limite_grp_1, label: 'Límite Grupo 1', as: :select, :include_blank => true, collection: Child::GRADOS, input_html: { class: 'input-sm' } %>
            <br />
          </div>

          <div class="col-md-6 col-xs-12">
            <%= f.input :valor_1, input_html: { class: 'input-sm' } %>
            <br />
          </div>

          <div class="col-md-6 col-xs-12">
            <%= f.input :limite_grp_2, label: 'Límite Grupo 2', as: :select, :include_blank => true, collection: Child::GRADOS, input_html: { class: 'input-sm' } %>
            <br />
          </div>

          <div class="col-md-6 col-xs-12">
            <%= f.input :valor_2, input_html: { class: 'input-sm' } %>
            <br />
          </div>

          <div class="col-md-6 col-xs-12">
            <%= f.input :limite_grp_3, label: 'Límite Grupo 3', as: :select, :include_blank => true, collection: Child::GRADOS, input_html: { class: 'input-sm' } %>
            <br />
          </div>

          <div class="col-md-6 col-xs-12">
            <%= f.input :valor_3, input_html: { class: 'input-sm' } %>
            <br />
          </div>
      </div>
   
      <div>  
        <br /><br />
        <div class="pull-right">
          <%= link_to bills_path, class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-remove"></span> 
            Cancelar
          <% end %>
        
          <%= button_tag(type: 'submit', class: 'btn btn-primary separate_btn') do %>
            <span class="glyphicon glyphicon-ok"></span>
            Crear
          <% end %>
        </div>
      </div>
      <div class="clearfix"></div>
    <% end %>
  </div> 
</div>

<script type="text/javascript">
  $(function() {
    periodo_mask = $('#bill_periodo_mask');
    periodo = $('#bill_periodo');

    periodo_mask.datepicker({
      format: "MM yyyy",
      startView: 1,
      minViewMode: 1,
      maxViewMode: 2,
      language: "es",
      autoclose: true,
      todayHighlight: true
    });
    
		periodo_mask.datepicker().on('changeDate', function (ev) {
			periodo.datepicker("setDate", ev.date);
		});
		
    periodo.datepicker({
      format: "yyyy-mm-dd",
      language: "es"
    });

    if(periodo_mask.val() == '' && periodo.val() != ''){
      periodo_mask.val($.datepicker.formatDate('MM yy', periodo.datepicker('getDate')));
    }
	});
	
	/*TO-DO: ajustar esto ya que grisa si valida y vuelve por error...*/
	limite_1 = $("#bill_limite_grp_1");
	limite_2 = $("#bill_limite_grp_2");
	valor_2 = $("#bill_valor_2");
	limite_3 = $("#bill_limite_grp_3");
	valor_3 = $("#bill_valor_3");
	
  if(limite_2.val() == ''){
    limite_2.prop('disabled', 'disabled');
    valor_2.prop('disabled', 'disabled');
  }

  if(limite_3.val() == ''){
  	limite_3.prop('disabled', 'disabled');
  	valor_3.prop('disabled', 'disabled');
  }

	limite_1.change(function() {
		if(limite_1.val() == <%= Child::GRADOS['7mo Grado'] %>){
			limite_2.prop('disabled', 'disabled')
			        .val('');
			valor_2.prop('disabled', 'disabled')
						 .val('');
		}
		else{
			limite_2.prop('disabled', false);
			valor_2.prop('disabled', false);
		}
	});
	
	limite_2.change(function() {
		if(limite_2.val() == <%= Child::GRADOS['7mo Grado'] %> || limite_2.val() == ''){
			limite_3.prop('disabled', 'disabled')
							.val('');
			valor_3.prop('disabled', 'disabled')
						 .val('');
		}
		else{
			limite_3.val(<%= Child::GRADOS['7mo Grado'] %>);
			valor_3.prop('disabled', false);
		}
		
		if(limite_2.val() == ''){
			valor_2.val('');
		}
  });
	
	limite_3.change(function() {
		if(limite_3.val() == ''){
			valor_3.val('');
		}
	});
</script>