<div class="col-xs-12 col-sm-8 col-sm-offset-2">
  <h1>Modificar Plato</h1>
  <br />

 <div class="seccion">
    <%= simple_form_for @food do |f| %>
      <div class='row'>
        <div class="col-xs-12">
          <%= f.input :comida, label: 'Plato' %>
          <br />
          <%= f.input :tipo, as: :select, collection: Food::TIPO_COMIDAS, label: 'Tipo de Plato' %>
          <br />
        </div>
      </div>
   
      <div class='row'>
        <br />
        <div class='pull-right seccion_botonera'>
          <%= link_to foods_path, class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-remove"></span> 
            Cancelar
          <% end %>
        
          <%= button_tag(type: 'submit', class: 'btn btn-primary separate_btn') do %>
            <span class="glyphicon glyphicon-ok"></span>
            Modificar
          <% end %>
        </div>
      </div>
    <% end %>
  </div> 
</div>