<div class="col-xs-6 col-xs-offset-3">
  <h1>Modificar Plato</h1>

 <div class="seccion">
    <%= simple_form_for @food do |f| %>
      <div class="col-md-10 col-md-offset-1 col-xs-12">
          <%= f.input :comida, label: 'Plato' %>
          <br />
          <%= f.input :tipo, as: :select, collection: Food::TIPO_COMIDAS, label: 'Tipo de Plato' %>
          <br />
      </div>
   
      <div>  
        <br /><br />
        <div class="pull-right">
          <%= link_to foods_path, class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-remove"></span> 
            Cancelar
          <% end %>
        
          <%= button_tag(type: 'submit', class: 'btn btn-primary separate_btn') do %>
            <span class="glyphicon glyphicon-ok"></span>
            Crear
          <% end %>
        </div>
      </div>
      <div class="clearfix"></div>
    <% end %>
  </div> 
</div>