<script>
$(document).ready(function(){
  $('.datatable').DataTable( {
        responsive: true,
        "language": {
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ platos",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando del plato _START_ al _END_ (_TOTAL_ total)",
            "sInfoEmpty":      "Mostrando platos del 0 al 0 de un total de 0 platos",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ platos)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
              "sFirst":    "Primero",
              "sLast":     "Ultimo",
              "sNext":     "Siguiente",
              "sPrevious": "Anterior"
            },
            "oAria": {
              "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
              "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
});
</script>

<div class="col-xs-12 col-md-6 col-md-offset-3">
  <%= link_to new_food_path, class: "btn btn-primary pull-right" do %>
    <span class="glyphicon glyphicon-plus"></span> 
    Plato
  <% end %> 
</div>
<div class="col-xs-12 col-md-6 col-md-offset-3 marco">
    <br />
    <table class="datatable table table-striped table-hover table-condensed table-bordered display nowrap" width="100%">
    <thead>
      <tr>
        <th>Plato</th>
        <th>Tipo de Plato</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.comida %></td>
          <td><%= food.humanized_tipo %></td>
          <td>
            <%= link_to edit_food_path(food) do %>
                <span class="glyphicon glyphicon-pencil"></span>
              <% end %> 
            &nbsp;&nbsp;&nbsp;
            <%= link_to food_path(food), method: :delete, data: {confirm:'¿Está seguro que desea eliminar esta comida?'} do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %> 
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= paginate @foods %>
  </div>
</div>